#builder--panel {
    .panel-box {
        padding: 1rem;
        border: 1px solid #eaeaea;
        margin-bottom: 0.5rem;

        &.editor {
            cursor: pointer;

            &:hover {
                border: 1px solid #ddd;
                background-color: #f9f9f9;
            }
        }

        p {
            margin-bottom: 0;
        }

        .e-question {
            position: relative;
            padding: 1rem;
            margin-bottom: 0.5rem;
            cursor: pointer;
            border: 1px solid #eaeaea;

            &:hover {
                border: 1px solid #ddd;
                background-color: #f9f9f9;
            }

            .toolbox {
                position: absolute;
                right: 1rem;
                top: 0.5rem;
            }
        }
    }
}
